body { 
    font-size: 14px;
}
/* heading */
h1,h2,h3,h4,h5,h6 {
    font-weight:bold;
    line-height:normal;
}
h1{font-size:180%}
h2{font-size:160%}
h3{font-size:140%}
h4{font-size:120%}
h5{font-size:100%}
h6{font-size:80%}
.hp-grid-post {
    height:300px; 
    width:100%; 
    padding:0; 
    margin:0;
}
.hp-grid-post img {
    height:300px; 
    width:100%;
}
.hp-judul-post {
    text-align:center; 
    margin-top:5px;
    padding: 0px 4px;
    position:absolute; 
    max-height:100px;
    width: 100%;
    overflow:hidden;
}
.hp-author {
    padding: 4px 12px; 
    margin-top:105px; 
    max-height:30px;
    max-width:100%;
    border-top: ;
    position:absolute;
    overflow:hidden;
}
.navbar-brand img {
    border:2px solid green; 
    padding: 5px; 
    width:30px; 
    height:30px;
}
.carousel-item img {
    height:400px; 
    width: 100%;
}
footer {
    padding: 20px;
}